DB_HOST=(Host Name)
DB_USER=(Database User)
DB_PW=(Database User Password)

DB_NAME_MAIN=(Main DB Name) // Main Website DB Name
DB_NAME_LOGGER=(Logger DB Name) // For osu! Chat Log

OSU_USERNAME=
OSU_IRC_PW=
OSU_API_KEY= // api v1 key

DISCORD_BOT_TOKEN=

WEBHOOK_OSU= // Discord Webhook Link